<div class="container">

  <div>
    <p>Hi my name is Jawahiraih </p>
  </div>
  <form>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="text" name="new-task" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="newTaskText">
    </div>
  
    <button 
    type="submit" 
    class="btn btn-primary"
    (click)="$event.preventDefault(); addNewTask()"
    >Submit</button>

  </form>


  <div *ngIf=" items.length ==0; else showItems">
    <p>No Items</p>
  </div>
  <ng-template #showItems>
    <ul class="to-do-list">
      <li *ngFor="let item of items">
        <div class="form-check">
          <div class="form-check-label">
            <input class="checkbox" type="checkbox"  [checked]="item.isComplete" (click)="toggleItem(item)"/> {{item.toDoText}}
          </div>
        </div>
      </li>
    </ul>
  </ng-template>
</div>